<html>
<body>
    <div class="flex-center position-ref full-height">
        <div class="content">
            <div class="title m-b-md">
                Angular
            </div>

            <div class="links">
                <a routerLink="/register">Register</a><br>
                <br>
                <a routerLink="/about">About</a><br>
                <br>
                <a routerLink="/addclient">Add Client</a>
            </div>
        </div>
    </div>
</body>
</html>